
body { background-color: #996633;
      color: #666666;
	  font-family: Arial, Helvetica, sans-serif;
	  background-image: linear-gradient(to bottom, #996633, #cc9900);
	  background-repeat: no-repeat;
}

#wrapper { width: 80%;
           margin-left: auto;
		   margin-right: auto;
		   background-color: #FFFFFF;
		   min-width: 960px;
		   max-width: 2048px;
		   box-shadow: 3px 3px 3px #333333;
}

header { background-color: #ffffcc;
       color: #000000;
	   background-image: url(coffeecup.png);
	   background-repeat: no-repeat;
     background-position: left 10px bottom 5px top 5px;
     background-size: 100px 100px;
	   text-align: center;
	   height: 70px;
	   padding-top: 25px;
}
h1 { margin-bottom: 0;
    margin-top: auto;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}

nav { background-color: #cc6600;
     font-weight: bold;
	   text-align: center;
	   padding-top: 25px;
     padding-bottom: 20px;
}
nav a { text-decoration: none;
        color: #000000;
        padding: 14px 16px;
 }

nav a:hover {
  background-color: #cc6600;
  color: white
}

main { padding: 1px 20px 20px 20px;
      display: block;}

h2 { color: #000000;
	font-family: Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px 1px #ccc;
}

h3 { color: #000033;
	font-family: Georgia, "Times New Roman", serif;
}
dt { color: #000033;
}
.resort { color: #000000;
          font-weight: bold;
          font-size: 50px;
          font-family: Georgia, "Times New Roman", serif;
          font-style: italic;
}

.boxed {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  padding: 30px;
  border: 10px solid brown ;
}

#contact {
  font-size: 90%; }

footer { font-size: 75%;
       font-style: italic;
	   font-family: Georgia, "Times New Roman", serif;
	   text-align: center;
	   padding: 20px;
}

.coffee-pic { background-image: url(coffee-beans-background.jpg);
       height: 400px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 60%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #000000;
}

/*
#yurthero { background-image: url(yurthero.jpg);
           height: 300px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
}
#trailhero { background-image: url(trailhero.jpg);
           height: 300px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
}
