body { background-color: #996633;
      color: #666666;
	  font-family: Arial, Helvetica, sans-serif;
	  background-image: url(../images/steam.jpg);
	  background-repeat: no-repeat;
}

#wrapper { width: 80%;
           margin-left: auto;
		   margin-right: auto;
		   background-color: #FFFFFF;
		   min-width: 960px;
		   max-width: 2048px;
		   box-shadow: 3px 3px 3px #333333;
}

header { background-color: #ffffcc;
       color: #000000;
	   background-image: url(../images/coffeecup.png);
	   background-repeat: no-repeat;
     background-position: left 10px bottom 5px top 5px;
     background-size: 100px 100px;
	   text-align: center;
	   height: 80px;
	   padding-top: 25px;
}
h1 { margin-bottom: 0;
    margin-top: auto;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}

nav { background-color: #cc6600;
  font-family: 'Pacifico', cursive;
     font-weight: bold;
	   text-align: center;
	   padding-top: 25px;
     padding-bottom: 20px;
}
nav a { text-decoration: none;
        color: #000000;
        padding: 14px 16px;
 }

nav a:hover {
  background-color: #cc6600;
  color: white
}

main { padding: 1px 20px 20px 20px;
      display: block;}

h2 { color: #000000;
	font-family: 'Pacifico', cursive;
	text-shadow: 1px 1px 1px #ccc;
  text-align: center;
}

dt { color: #000033;
}

.house { color: #000000;
          font-weight: bold;
          font-size: 50px;
}

.contactinfo { font-weight: bold;}

img {
  border: 1px solid #ccc;
  float: left;
  height: 250px;
  width: 250px;
  margin-right: 50px;
}

img:hover {
  border: 1px solid #777;
}

#contact {
  position: absolute;
  top: 880px;
  left: 200px;
  color: #000000;
  padding-top: 60px;
  padding-bottom: 15px;
  font-size: 90%;
  font-family: 'Pacifico', cursive;
}

footer { background-color: #cc6600;
  color: #000000;
  font-size: 75%;
	   font-family: 'Pacifico', cursive;;
	   text-align: center;
	   padding: 30px;
     margin-top: 30px;
}

main p {
  font-family: 'Pacifico', cursive;
}

footer a {color: #000000;}

.coffee-pic { background-image: url(../images/coffee-beans-background.jpg);
       height: 400px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 60%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #000000;
}

.menu { background-image: url(../images/menu.jpg);
        width: 500px;
        height: 600px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
       position: relative;
       left: 300px;
}

.about { background-image: url(../images/coffeeshop2.jpeg);
           height: 600px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
}

div.aboutdesc {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.aboutdesc p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
